root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = tab
max_line_length = 180

ij_any_if_brace_force = always
ij_any_do_while_brace_force = always
ij_any_while_brace_force = always
ij_any_for_brace_force = always
